[Desktop Entry]
Name=GNOME
Name[ar]=جنوم
Name[as]=GNOME
Name[ast]=GNOME
Name[be]=GNOME
Name[be@latin]=GNOME
Name[bg]=GNOME
Name[bn]=GNOME
Name[bn_IN]=GNOME
Name[br]=GNOME
Name[ca]=GNOME
Name[ca@valencia]=GNOME
Name[crh]=GNOME
Name[cs]=GNOME
Name[da]=GNOME
Name[de]=GNOME
Name[dz]=ཇི་ནོམ་ 
Name[el]=GNOME
Name[en@shaw]=·𐑜𐑯𐑴𐑥
Name[en_GB]=GNOME
Name[es]=GNOME
Name[et]=GNOME
Name[eu]=GNOME
Name[fi]=Gnome
Name[fr]=GNOME
Name[fur]=GNOME
Name[ga]=GNOME
Name[gl]=GNOME
Name[gu]=GNOME
Name[he]=‏GNOME
Name[hi]=गनोम
Name[hr]=GNOME
Name[hu]=GNOME
Name[it]=GNOME
Name[ja]=GNOME
Name[ka]=GNOME
Name[kn]=GNOME
Name[ko]=그놈
Name[lt]=GNOME
Name[lv]=GNOME
Name[mai]=गनोम
Name[mk]=GNOME
Name[ml]=ഗ്നോം
Name[mr]=GNOME
Name[nb]=GNOME
Name[nds]=GNOME
Name[nl]=Gnome
Name[nn]=GNOME
Name[oc]=GNOME
Name[or]=ନୋମ
Name[pa]=ਗਨੋਮ
Name[pl]=GNOME
Name[ps]=ګنوم
Name[pt]=GNOME
Name[pt_BR]=GNOME
Name[ro]=GNOME
Name[ru]=GNOME
Name[sk]=GNOME
Name[sl]=GNOME
Name[sr]=Гном
Name[sr@latin]=Gnom
Name[sv]=GNOME
Name[ta]=GNOME
Name[te]=GNOME
Name[th]=GNOME
Name[tr]=GNOME
Name[uk]=GNOME
Name[uz]=GNOME
Name[uz@cyrillic]=GNOME
Name[vi]=GNOME
Name[zh_CN]=GNOME
Name[zh_HK]=GNOME
Name[zh_TW]=GNOME
Comment=This session logs you into GNOME
Comment[ar]=تولجك هذه الجلسة في جنوم
Comment[as]=এই অধিবেশনে আপোনাক GNOME ত প্ৰৱেশ কৰাই
Comment[ast]=Esta sesión conéuta-y a GNOME
Comment[be]=Сэанс GNOME
Comment[be@latin]=Hetaja sesija ŭruchamlaje GNOME
Comment[bg]=Влизане в GNOME
Comment[bn]=এই সেশনের মাধ্যমে GNOME-এ লগ-ইন করা যাবে
Comment[bn_IN]=এই সেশানের মাধ্যমে GNOME-এ লগ-ইন করা যাবে
Comment[br]=An estez-mañ a lug ac'hanoc'h davet GNOME
Comment[ca]=Aquesta sessió us entra al GNOME
Comment[ca@valencia]=Esta sessió vos entra al GNOME
Comment[crh]=Bu oturım sizni GNOME'ğa içeri imzalandırır
Comment[cs]=Toto sezení vás přihlásí do GNOME
Comment[da]=Denne session logger dig ind i GNOME
Comment[de]=Diese Sitzung meldet Sie bei GNOME an
Comment[dz]=ལཱ་ཡུན་འདི་གིས་ ཁྱོད་ ཇི་ནོམ་ནང་ལུ་ ནང་བསྐྱོད་འབདཝ་ཨིན་ 
Comment[el]=Αυτή η συνεδρία σας συνδέει στο GNOME
Comment[en@shaw]=𐑞𐑦𐑕 𐑕𐑧𐑖𐑩𐑯 𐑤𐑪𐑜𐑟 𐑿 𐑦𐑯𐑑𐑫 ·𐑜𐑯𐑴𐑥
Comment[en_GB]=This session logs you into GNOME
Comment[es]=Esta sesión accede a GNOME
Comment[et]=Selle seansiga logitakse sind GNOME keskkonda sisse
Comment[eu]=Saio honek GNOMEn sartuko zaitu
Comment[fi]=Tämä istunto kirjautuu Gnomeen
Comment[fr]=Cette session vous connecte dans GNOME
Comment[fur]=Cheste session ti puartarâ dentri GNOME
Comment[ga]=Logálann an seisiún seo thú isteach i nGNOME
Comment[gl]=Esta sesión iniciará en GNOME
Comment[gu]=આ સત્ર એ તમને GNOME માં લોગ કરે છે
Comment[he]=הפעלה זאת מחברת אותך לשולחן העבודה GNOME
Comment[hi]=यह सत्र गनोम में लॉगइन होगा
Comment[hr]=Ova sesija vas prijavljuje u GNOME
Comment[hu]=Bejelentkezés a GNOME környezetbe
Comment[it]=Questa sessione esegue l'accesso in GNOME
Comment[ja]=このセッションで GNOME にログインします
Comment[ka]=ეს სესია გნომში შესვლის საშუალებას იძლევა
Comment[kn]=ಈ ಅಧಿವೇಶನವು ನಿಮ್ಮನ್ನು GNOME ಗೆ ಪ್ರವೇಶಿಸುವಂತೆ ಮಾಡುತ್ತದೆ
Comment[ko]=이 세션을 사용하면 그놈에 로그인합니다
Comment[lt]=Šis seansas prijungia jus prie GNOME
Comment[lv]=Šī sesija pieslēdz jūs GNOME videi
Comment[mai]=ई सत्र अहाँक गनोममे लागिन दैछ
Comment[mk]=Оваа сесија Ве најавува во GNOME
Comment[ml]=ഈ പ്രവര്‍ത്തനവേള നിങ്ങളെ ഗ്നോമിലേക്ക് കയറ്റുന്നു
Comment[mr]=GNOME मध्ये दाखल करण्याजोगी सत्र लॉग
Comment[nb]=Denne sesjonen logger inn i GNOME
Comment[nds]=Düsser Törn mellt dik bi GNOME an
Comment[nl]=Deze sessie laat u in Gnome inloggen
Comment[nn]=Denne økta loggar inn i GNOME
Comment[oc]=La session vos connectarà dins GNOME
Comment[or]=ଏହି ଅଧିବେଶନ ଆପଣଙ୍କୁ ନୋମ ରେ ଲଗ କରାଇଥାଏ
Comment[pa]=ਇਹ ਸ਼ੈਸ਼ਨ ਤੁਹਾਨੂੰ ਗਨੋਮ ਵਿੱਚ ਲਾਗ ਕਰਦਾ ਹੈ
Comment[pl]=Ta sesja loguje użytkownika do środowiska GNOME
Comment[ps]=دا ناسته تاسو ګنوم ته ننباسي
Comment[pt]=Esta é uma sessão no GNOME
Comment[pt_BR]=Essa sessão o leva ao GNOME
Comment[ro]=Această sesiune vă va autentifica în GNOME
Comment[ru]=Этот сеанс позволяет вам войти в GNOME
Comment[sk]=Táto relácia vás prihlási do GNOME
Comment[sl]=Seja vas prijavi v GNOME namizje
Comment[sr]=Ова сесија вас пријављује у Гном
Comment[sr@latin]=Ova sesija vas prijavljuje u Gnom
Comment[sv]=Denna session loggar in dig i GNOME
Comment[ta]=இந்த அமர்வு க்நோம் இல் உங்களை நுழைக்கும் 
Comment[te]=ఈ విభాగము GNOMEనకు లాగ్ చేస్తుంది
Comment[th]=วาระนี้จะเข้าสู่ GNOME
Comment[tr]=Bu oturum GNOME girişi yapmanızı sağlar
Comment[uk]=Це - сеанс входу у GNOME
Comment[uz]=Ushbu seans GNOME'ga kirishingizni taʼminlaydi
Comment[uz@cyrillic]=Ушбу сеанс GNOME'га киришингизни таъминлайди
Comment[vi]=Phiên chạy này sẽ đăng nhập bạn vào GNOME
Comment[zh_CN]=此会话将您登录到 GNOME
Comment[zh_HK]=這個作業階段讓你登入 GNOME
Comment[zh_TW]=這個作業階段讓您登入 GNOME
Exec=gnome-session
TryExec=gnome-session
Icon=
Type=Application
