[Desktop Entry]
Encoding=UTF-8
Name=Psi
Comment=Client jabber
Exec=psi
Icon=psi
Terminal=false
Type=Application
Categories=Application;Network;
StartupNotify=true
